body{
    border: solid;
    border-color: rgb(175, 175, 175);
    border-radius: 10px;
    
        
}

.margin{
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    
}

#row1{
    margin-left: 50px;
}
#row2{
    margin-left: 50px;
}
#row3{
    margin-left: 50px;
}

