h2 {
    background-color: aquamarine;
    border-color: black;
    border: 2px solid;
    width: 450px;
    text-align: center;
    margin: auto;
}

h1 {
    text-align: center;
}

table {
    border: 2px solid;
    border-color: black;
    margin: auto;
}

th {
    padding: 30px;
    background-color: grey;
}

a {
    text-decoration: none;
}

.logo {
    background-color: lightblue;
}

footer {
    text-align: center;
}

.bottom {
    background-color: lightblue;
}


